<h1>Selected Comment</h1>

<h3>Body:<%= @comment.body %></h3>

<br />



<%= link_to "Back to article lists", @comment.article %> |
# <%= link_to "Edit this category", edit_category_path(@comment) %>